export(read_metadata_excel)
export(read_metadata_r)
export(run_checks)
importFrom(car,leveneTest)
importFrom(dplyr,all_of)
importFrom(dplyr,everything)
importFrom(dplyr,bind_rows)
importFrom(dplyr,distinct)
importFrom(janitor,get_dupes)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,aes)
importFrom(ggplot2,facet_wrap)
importFrom(ggplot2,vars)
importFrom(ggplot2,geom_col)
importFrom(ggplot2,labs)
importFrom(ggplot2,stat_ecdf)
importFrom(ggpubr,ggscatter)
importFrom(gtsummary,tbl_summary)
importFrom(gtsummary,all_categorical)
importFrom(gtsummary,all_continuous)
importFrom(gtsummary,add_p)
importFrom(lubridate,wday)
importFrom(rlang,.data)
importFrom(stats, chisq.test, complete.cases, cor.test)

